# methods from classes originating from largeVis code
S3method(as.dist,edgematrix)
S3method(buildWijMatrix,CsparseMatrix)
S3method(buildWijMatrix,TsparseMatrix)
S3method(buildWijMatrix,edgematrix)
S3method(distance,CsparseMatrix)
S3method(distance,TsparseMatrix)
S3method(distance,matrix)
S3method(randomProjectionTreeSearch,CsparseMatrix)
S3method(randomProjectionTreeSearch,TsparseMatrix)
S3method(randomProjectionTreeSearch,matrix)
export(buildEdgeMatrix)
export(buildWijMatrix)
export(distance)

import(Matrix)
import(igraph)#Various functions for graph creation, manipulation, plotting and analysis
import(QUIC)  #Faster implementation of the glasso algorithm from Friedman, Tibshirani using Newton's coordinate descent
import(doParallel)  #Parallelization
import(foreach)     #Parallelization
import(bigmemory)
importFrom(parallel, detectCores, makeCluster, stopCluster)
importFrom(corpcor, cor.shrink) #Fast pearson's correlation using BLAS, incorporating weights and shrinkage
importFrom(coop, pcor)  #Fast pearson's correlation implementation using BLAS
importFrom("methods", "new", "as")
importFrom("grDevices", "dev.off", "hcl", "pdf", "png", "colorRampPalette", "rgb", "colorRamp")
importFrom("graphics", "legend", "par", "plot", "symbols", "points")
importFrom("stats", "IQR", "cor", "dist","as.dist", "median", "lm", "predict", "quantile", "sd", "kmeans", "var", "mad")
importFrom("utils", "flush.console")
import(RColorBrewer)

useDynLib(griph, .registration = TRUE)


export(SC_cluster, griph_cluster, plotGraph, predictCellCycle, plotTsne, plotLVis,
       PHellingerMat, PHellingerMatOMP, PCanberraMat, PCanberraMatOMP, PPearsonMatOMP,
       SPearsonMatOMP, ssPCanberraMatOMP, sdPCanberraMatOMP)


